//main: ../style.less

@total-items: 5;

.logo-area {
  grid-area: logo;
}

.redes-area {
  grid-area: redes;
}

.links-area {
  grid-area: links;
}

.boton-area {
  grid-area: boton;
}

.min-menu {
  animation: scale-menu 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; // Va hacia afuera
  animation-direction: reverse; // Ahora hacia adentro
  animation-delay: 0.5s;

  .content_min {
    .content_wrapper {
      pointer-events: all;
      animation: opacity-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      animation-delay: 0.5s;
    }
  }

  .content_max {
    .content_wrapper {
      pointer-events: none;
      animation: opacity-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      animation-direction: reverse;
    }
  }
}

.max-menu {
  animation: scale-menu 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; // Va hacia afuera
  animation-delay: 0.5s;

  .content_min {
    .content_wrapper {
      pointer-events: none;
      animation: opacity-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      animation-direction: reverse;
    }
  }

  .content_max {
    .content_wrapper {
      pointer-events: all;
      animation: opacity-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      animation-delay: 0.5s;
    }
  }
}

@keyframes opacity-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale-menu {
  0% {
    transition: height 0.5s linear, width 0.5s linear;
    width: 185px;
    height: 200px;
    opacity: 1;
  }

  100% {
    transition: height 0.5s linear, width 0.5s linear;
    width: 270px;
    height: 600px;
    opacity: 1;
  }
}

@keyframes dropdown-active {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  75% {
    opacity: 0.5;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide-menu {
  0% {
    transform: translateY(0px);
  }
  35% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-155px);
  }
}

@keyframes expose-menu {
  0% {
    transform: translateY(-155px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

#nav-bar_mobile,
#nav-bar_fake {
  display: none;
}

#nav-bar_desktop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 270px;
  height: 600px;
  background-color: @white;
  box-shadow: 0 0 33px 0 rgba(0, 0, 0, 0.05);

  .content_max {
    .content_wrapper {
      top: 0;
      left: 0;
      position: absolute;
      padding: 20px;
      width: 270px;
      height: 600px;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 10% auto auto 13%;
      grid-template-areas:
        "redes"
        "logo"
        "links"
        "boton";

      .social-wrapper {
        display: grid;
        grid-template-columns: 40px 40px 40px 40px;
        grid-template-rows: 40px;
        align-items: center;
        justify-items: center;

        img {
          display: grid;
          width: 30px;
          height: 30px;
          &.notification {
            width: 18px;
            height: 18px;
            position: absolute;
            top: 20px;
            right: 90px;
          }
        }

        span {
          display: grid;
          position: absolute;
          top: 24px;
          right: 97px;
          font-size: 9.5px;
          color: white;
        }
      }

      .nav-logo {
        margin: 25px 0px;
      }

      .links-area {
        #menu {
          li {
            a {
              text-transform: uppercase;
              color: @black;
              font-size: 20px;
              width: fit-content;
              display: block;
              margin: 30px 0;

              b {
                font-weight: normal;
              }

              &:first-child {
                margin: 0 0 30px 0 !important;
              }

              &:after {
                content: "";
                height: 2px;
                width: 100%;
                margin-top: 8px;
                background-color: @green;
                display: block;
              }

              &:hover {
                color: @green;
              }
            }
          }
        }
      }

      .usuario-loggeado {
        text-transform: uppercase;
        color: @black;
        font-size: 20px;
        width: fit-content;
        display: block;
        &:hover {
          color: @green;
        }

        &:after {
          content: "";
          height: 2px;
          width: 100%;
          margin-top: 8px;
          background-color: @green;
          display: block;
        }
      }

      .container-btn {
        .nav-btn {
          margin: 0;
          width: 100%;
        }
      }
    }
  }

  .content_min {
    .content_wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 185px;
      height: 200px;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 75% 25%;
      grid-template-areas:
        "boton"
        "redes";
      justify-items: center;
      align-items: center;
      background: white;

      .social-wrapper {
        display: grid;
        grid-template-columns: 35px 35px 35px 35px;
        grid-template-rows: 35px;
        margin: auto;
        align-items: center;
        justify-items: center;

        img {
          display: grid;
          width: 30px;
          height: 30px;
          &.notification {
            width: 18px;
            height: 18px;
            position: absolute;
            top: 154px;
            right: 17px;
          }
        }

        span {
          display: grid;
          position: absolute;
          top: 158px;
          right: 23px;
          font-size: 9.5px;
          color: white;
        }
      }

      .container-btn {
        display: grid;
        align-items: stretch;
        justify-items: stretch;

        .menu {
          cursor: pointer;
          background-color: @green;
          margin: auto;
          color: @white;
          text-transform: uppercase;
          padding: 15px 30px;
          text-align: center;
          border-radius: 5px;

          p {
            padding-top: 5px;
          }
        }
      }
    }
  }
}

.candado {
  background-color: @green;
  color: @white;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  text-align: center;
  margin: 10px auto 80px auto;
  display: flex;
  justify-content: center;
  align-content: center;
  width: fit-content;
  border-radius: 5px;
  border: 2px solid @green;

  &:hover {
    background-color: @white;
    color: @green;
  }

  img {
    margin: 0 10px 0 0;
    height: 40px !important;
  }

  p {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  #nav-bar_desktop {
    display: none;
  }

  #nav-bar_fake {
    display: block;
    width: 100%;
    height: 155px;
    background-color: @white;
  }

  #nav-bar_mobile {
    display: grid;
    grid-template-rows: 88px 67px;
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "links";
    height: 155px;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: @white;
    border-bottom: 1px solid #f2f2f2;
    transition: all 0.3s;
    animation: expose-menu 0.5s ease-in-out;
    animation-fill-mode: both;

    &.is-active {
      .links-dropdown {
        position: absolute;
        top: 88px;
        height: 360px;
        width: 100%;
        padding: 20px;
        transition: all 0.3s;
        #menu_dropdown {
          display: flex;
        }
      }
    }

    &.hide-menu {
      animation: hide-menu 0.5s ease-in-out;
      animation-fill-mode: both;
    }

    .header {
      display: grid;
      grid-area: header;
      grid-template-columns: 67px auto 67px;
      grid-template-rows: auto;
      grid-template-areas: ". logo boton";
      justify-items: center;
      align-items: center;
      border-bottom: 1px solid #f2f2f2;

      a {
        img {
          height: 60px;
        }
        &#menu_mobile {
          img {
            height: 30px;
          }
        }
      }

      .container-btn {
        display: grid;
        align-items: stretch;
        justify-items: stretch;

        .menu {
          cursor: pointer;
          margin: auto;
          color: @white;
          text-transform: uppercase;
          padding: 15px 25px;
          text-align: center;
          border-radius: 5px;
          width: 80px;

          p {
            color: @green;
            padding-top: 5px;
            font-size: 10px !important;
          }
        }
      }
    }

    .quick-link {
      margin: auto 0;
      padding: 0 15px;
      #menu {
        display: flex;
        align-content: center;
        justify-content: space-between;

        li {
          float: left;

          a {
            text-transform: uppercase;
            color: @black;
            font-size: 10px;
            width: fit-content;
            display: block;
            margin: 30px 0;

            b {
              font-weight: normal;
            }

            &:first-child {
              margin: 5px 5px !important;
            }

            &:after {
              content: "";
              height: 2px;
              width: 100%;
              margin-top: 8px;
              background-color: @green;
              display: block;
            }

            &:hover {
              color: @green;
            }
          }
        }
      }
    }

    .links-dropdown {
      background-color: @white;
      height: 0;
      transition: all 0.3s;

      #menu_dropdown {
        display: none;
        // display: flex;
        flex-direction: column;
        align-items: center;
        li {
          float: center;
          margin: 10px 0px;
          position: relative;
          animation: dropdown-active 0.5s ease-in-out;
          animation-fill-mode: both;
          &:nth-child(2) {
            animation-delay: 0.25s;
          }
          &:nth-child(3) {
            animation-delay: 0.5s;
          }
          &:nth-child(4) {
            animation-delay: 0.75s;
          }
          &:nth-child(5) {
            animation-delay: 1s;
          }

          a {
            text-transform: uppercase;
            color: @black;
            font-size: 20px;
            width: fit-content;
            display: block;
            margin: 30px 0;

            b {
              font-weight: normal;
            }

            &:first-child {
              margin: 5px 5px !important;
            }

            &:after {
              content: "";
              height: 2px;
              width: 100%;
              margin-top: 8px;
              background-color: @green;
              display: block;
            }

            &:hover {
              color: @green;
            }
          }
        }
      }
    }
  }
}
