//main: ../style.less
#top-blog {
  position: relative;
  height: 400px;
  background-size: cover;
  @media(min-width: 768px){
    height: 800px;
  }

  .blog-page-info {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 300px;
    height: auto;
    padding: 10px 20px 20px 20px;    
    width: fit-content;

    @media (min-width: 768px) {
      max-width: 400px;
      right: 10%;
      height: 380px;
      padding: 50px 30px 10px 30px;
    }

    h1 {
      color: @yellow;
      margin: 0 0 20px 0;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 300;

      @media (min-width: 768px) {
        font-size: 42px;
      }

      b {
        display: block;
        font-size: 48px;

        @media (min-width: 768px) {
          font-size: 60px;
        }
      }
    }

    p {
      color: @white;
      line-height: 1.3;
    }
  }
}
