//main: ../style.less
@white: #fff;
@soft-white: #EDEDED;

@black: #000;
@light-black: #1e1e1e;

@light-gray: #d1d1d1;
@gray: #494949;

@light-green: #eaf3e0;
@green: #58a11c;

@light-yellow: #feb82a;
@yellow: #FFAC01;

@font-face {
    font-family: AvenirNextCondensed;
    src: url("../Aitawa-theme/assets/fonts/Avenir Next Condensed.ttc") format('truetype');
}

@font-face {
    font-family: AvenirNext;
    src: url("../Aitawa-theme/assets/fonts/Avenir Next.otf") format('truetype');
}

@font-face {
    font-family: Avenir;
    src: url("../Aitawa-theme/assets/fonts/Avenir.ttc") format('truetype');
}

@font-face {
    font-family: IBMPlexSans;
    src: url("../Aitawa-theme/assets/fonts/IBMPlexSans-Regular.ttf") format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: IBMPlexSans;
    src: url("../Aitawa-theme/assets/fonts/IBMPlexSans-Bold.ttf") format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: IBMPlexSans;
    src: url("../Aitawa-theme/assets/fonts/IBMPlexSans-Italic.ttf") format('truetype');
    font-weight: 400;
    font-style: italic, oblique;
}

@font-face {
    font-family: IBMPlexSans;
    src: url("../Aitawa-theme/assets/fonts/IBMPlexSans-BoldItalic.ttf") format('truetype');
    font-weight: 600;
    font-style: italic, oblique;
}

@font-face {
    font-family: SilliiWillinn;
    src: url("../Aitawa-theme/assets/fonts/Sillii Willinn Font.ttf") format('truetype');
}

